<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Servlet 2.5</display-name>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <description></description>
    <display-name>ServletArticulo</display-name>
    <servlet-name>ServletArticulo</servlet-name>
    <servlet-class>Servlets.ServletArticulo</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ServletCarrito</display-name>
    <servlet-name>ServletCarrito</servlet-name>
    <servlet-class>Servlets.ServletCarrito</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ServletCategorias</display-name>
    <servlet-name>ServletCategorias</servlet-name>
    <servlet-class>Servlets.ServletCategorias</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ServletCompraExitosa</display-name>
    <servlet-name>ServletCompraExitosa</servlet-name>
    <servlet-class>Servlets.ServletCompraExitosa</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ServletGuardarUsuario</display-name>
    <servlet-name>ServletGuardarUsuario</servlet-name>
    <servlet-class>Servlets.ServletGuardarUsuario</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ServletListados</display-name>
    <servlet-name>ServletListados</servlet-name>
    <servlet-class>Servlets.ServletListados</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ServletLogin</display-name>
    <servlet-name>ServletLogin</servlet-name>
    <servlet-class>Servlets.ServletLogin</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ServletPago</display-name>
    <servlet-name>ServletPago</servlet-name>
    <servlet-class>Servlets.ServletPago</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ServletPrincipal</display-name>
    <servlet-name>ServletPrincipal</servlet-name>
    <servlet-class>Servlets.ServletPrincipal</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ServletProductos</display-name>
    <servlet-name>ServletProductos</servlet-name>
    <servlet-class>Servlets.ServletProductos</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ServletProveedores</display-name>
    <servlet-name>ServletProveedores</servlet-name>
    <servlet-class>Servlets.ServletProveedores</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ServletRegistro</display-name>
    <servlet-name>ServletRegistro</servlet-name>
    <servlet-class>Servlets.ServletRegistro</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ServletUsuario</display-name>
    <servlet-name>ServletUsuario</servlet-name>
    <servlet-class>Servlets.ServletUsuario</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ServletVentas</display-name>
    <servlet-name>ServletVentas</servlet-name>
    <servlet-class>Servlets.ServletVentas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCategorias</servlet-name>
    <url-pattern>/ServletCategorias</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletCompraExitosa</servlet-name>
    <url-pattern>/ServletCompraExitosa</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletGuardarUsuario</servlet-name>
    <url-pattern>/ServletGuardarUsuario</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletListados</servlet-name>
    <url-pattern>/ServletListados</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletUsuario</servlet-name>
    <url-pattern>/ServletUsuario</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletVentas</servlet-name>
    <url-pattern>/ServletVentas</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletProveedores</servlet-name>
    <url-pattern>/ServletProveedores</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletProductos</servlet-name>
    <url-pattern>/ServletProductos</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletPrincipal</servlet-name>
    <url-pattern>/ServletPrincipal</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletLogin</servlet-name>
    <url-pattern>/ServletLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletCarrito</servlet-name>
    <url-pattern>/ServletCarrito</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletArticulo</servlet-name>
    <url-pattern>/ServletArticulo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletPago</servlet-name>
    <url-pattern>/ServletPago</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletRegistro</servlet-name>
    <url-pattern>/ServletRegistro</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>ServletPrincipal</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletBajas</display-name>
    <servlet-name>ServletBajas</servlet-name>
    <servlet-class>Servlets.ServletBajas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletBajas</servlet-name>
    <url-pattern>/ServletBajas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletListadoProductos</display-name>
    <servlet-name>ServletListadoProductos</servlet-name>
    <servlet-class>Servlets.Listados.ServletListadoProductos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletListadoProductos</servlet-name>
    <url-pattern>/ServletListadoProductos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletListadoCategorias</display-name>
    <servlet-name>ServletListadoCategorias</servlet-name>
    <servlet-class>Servlets.Listados.ServletListadoCategorias</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletListadoCategorias</servlet-name>
    <url-pattern>/ServletListadoCategorias</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletListadoUsuarios</display-name>
    <servlet-name>ServletListadoUsuarios</servlet-name>
    <servlet-class>Servlets.Listados.ServletListadoUsuarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletListadoUsuarios</servlet-name>
    <url-pattern>/ServletListadoUsuarios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletListadoProveedores</display-name>
    <servlet-name>ServletListadoProveedores</servlet-name>
    <servlet-class>Servlets.Listados.ServletListadoProveedores</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletListadoProveedores</servlet-name>
    <url-pattern>/ServletListadoProveedores</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletListadoVentas</display-name>
    <servlet-name>ServletListadoVentas</servlet-name>
    <servlet-class>Servlets.Listados.ServletListadoVentas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletListadoVentas</servlet-name>
    <url-pattern>/ServletListadoVentas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletReporteCategorias</display-name>
    <servlet-name>ServletReporteCategorias</servlet-name>
    <servlet-class>Servlets.Reportes.ServletReporteCategorias</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletReporteCategorias</servlet-name>
    <url-pattern>/ServletReporteCategorias</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletReporteProvincias</display-name>
    <servlet-name>ServletReporteProvincias</servlet-name>
    <servlet-class>Servlets.Reportes.ServletReporteProvincias</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletReporteProvincias</servlet-name>
    <url-pattern>/ServletReporteProvincias</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletModificarDatosPersonales</display-name>
    <servlet-name>ServletModificarDatosPersonales</servlet-name>
    <servlet-class>Servlets.ServletModificarDatosPersonales</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletModificarDatosPersonales</servlet-name>
    <url-pattern>/ServletModificarDatosPersonales</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletVentasUsuario</display-name>
    <servlet-name>ServletVentasUsuario</servlet-name>
    <servlet-class>Servlets.ServletVentasUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletVentasUsuario</servlet-name>
    <url-pattern>/ServletVentasUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletGuardarUsuarioMod</display-name>
    <servlet-name>ServletGuardarUsuarioMod</servlet-name>
    <servlet-class>Servlets.ServletGuardarUsuarioMod</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletGuardarUsuarioMod</servlet-name>
    <url-pattern>/ServletGuardarUsuarioMod</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletGuardarUsuarioAdm</display-name>
    <servlet-name>ServletGuardarUsuarioAdm</servlet-name>
    <servlet-class>Servlets.ServletGuardarUsuarioAdm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletGuardarUsuarioAdm</servlet-name>
    <url-pattern>/ServletGuardarUsuarioAdm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletReporteProveedores</display-name>
    <servlet-name>ServletReporteProveedores</servlet-name>
    <servlet-class>Servlets.Reportes.ServletReporteProveedores</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletReporteProveedores</servlet-name>
    <url-pattern>/ServletReporteProveedores</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletPrueba</display-name>
    <servlet-name>ServletPrueba</servlet-name>
    <servlet-class>Servlets.Reportes.ServletPrueba</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPrueba</servlet-name>
    <url-pattern>/ServletPrueba</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletGuardarUsuarioModificado</display-name>
    <servlet-name>ServletGuardarUsuarioModificado</servlet-name>
    <servlet-class>Servlets.ServletGuardarUsuarioModificado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletGuardarUsuarioModificado</servlet-name>
    <url-pattern>/ServletGuardarUsuarioModificado</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletReportePagos</display-name>
    <servlet-name>ServletReportePagos</servlet-name>
    <servlet-class>Servlets.Reportes.ServletReportePagos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletReportePagos</servlet-name>
    <url-pattern>/ServletReportePagos</url-pattern>
  </servlet-mapping>
</web-app>